@model YourWorldWithin.Models.Property
@{
    ViewBag.Title = "VideoList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    TempData["Audio"] = "active";
    TempData["AudioList"] = "active";
}

<div class="page-content">


    <div class="row">
        <div class="col-lg-12">
            <div class="portlet box panel panel-grey">
                <div class="panel-heading">
                    Audio List
                </div>
                <div class="portlet-body">
                    <div class="row mbm">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="table_id" class="table table-hover table-striped table-bordered tablesorter">
                                    <thead>

                                        <tr>
                                            <th>
                                               
                                            </th>
                                            <th>
                                                Title
                                            </th>
                                            <th>
                                                Category
                                            </th>
                                            <th>
                                                Tags
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                           

                                            @*<th>
                                                Download
                                            </th>*@

                                            <th>
                                               Uploaded On
                                            </th>

                                            <th>
                                                Action
                                            </th>



                                        </tr>

                                    </thead>
                                    <tbody>
                                        @if (ViewBag.Audiolist != null)
                                        {

                                            foreach (YourWorldWithin.Models.Property i in ViewBag.Audiolist)
                                            {
                                            <tr>

                                                <td><img src="@Url.Content("~/DataImages/Images/" + @i.ImageFile)"  height="50" width="50"/></td>
                                                <td>@i.Title</td>
                                                <td>@i.CategoryId</td>
                                                <td>@i.Tags</td>
                                                <td>@i.Description</td>
                                                
                                                @*<td><a href="@Url.Content("~/DataImages/Videos/"+i.VideoFile)" download><span class="glyphicon glyphicon-cloud-download"></span></a></td>*@
                                                <td>                                              
                                                 
                                                    @i.creationdate
                                              
                                                </td>                                               
                                                <td><a href="@Url.Action("EditAudio", "Admin", new { @Id = i.AudioId })" id="@i.AudioId"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                            </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td class="text-center">No Audio Uploaded</td>
                                            </tr>
                                        }

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script src="/admin_assets/vendors/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="/admin_assets/vendors/DataTables/media/js/dataTables.bootstrap.js"></script>
    <script src="/admin_assets/vendors/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="/admin_assets/js/table-datatables.js"></script>




}
