
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-content">


    <div class="row">
        <div class="col-lg-12">
            <div class="portlet box panel panel-grey">
                <div class="panel-heading">
                    User List
                </div>
                <div class="portlet-body">
                    <div class="row mbm">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="table_id" class="table table-hover table-striped table-bordered tablesorter">
                                    <thead>

                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                EmailId
                                            </th>
                                            <th>
                                                Email Verified
                                            </th>
                                            
                                            <th>
                                                Phone
                                            </th>
                                            <th>
                                                Status                                           
                                             </th>

                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (YourWorldWithin.Models.Property i in ViewBag.UserList)
                                        {
                                            <tr>

                                                <td>@i.Name</td>
                                                <td>@i.Email</td>
                                                
                                                <td>@i.EmailVerified</td>
                                                <td>@i.Phone</td>
                                                <td>@i.Status</td>
                                                
                                                @*<td><a href="@Url.Action("EditVideo","Admin",new { @Id=i.VideoId})" id="@i.VideoId"><span class="glyphicon glyphicon-pencil"></span></a></td>*@
                                            </tr>
                                        }

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script src="/admin_assets/vendors/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="/admin_assets/vendors/DataTables/media/js/dataTables.bootstrap.js"></script>
    <script src="/admin_assets/vendors/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="/admin_assets/js/table-datatables.js"></script>




}

