@model AMSS.Models.Property
@using System.Data;
@{
    ViewBag.Title = "StudentReport";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    DataTable dt = new DataTable();

    dt = (DataTable)ViewBag.StudentReport;
    int i = 1;
}
<style>
    .table.table-bordered thead tr {
     background: white; 
    color: #333;
}
</style>
<div class="contentwrapper">
    <div class="heading">
        <h3>Student Report</h3>
        <div class="resBtnSearch">
            <a href="#"><span class="s16 icomoon-icon-search-3"></span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
          
            <div class="panel panel-default " style="border: 1px solid #c4c4c4;">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        @if (ViewBag.Assignment != null)
                    {
                        @ViewBag.Assignment
                    }
                    else
                    {

                    }
                </h4>
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <form class="form-horizontal" method="post" >

                        <div class="form-group">
                            <div class="col-md-5">
                                <label class="col-lg-4 control-label" style="text-align: left;">Student<span style="color: red;">*</span></label>
                                <div class="col-lg-8">
                                    @Html.DropDownListFor(model => model.studentid, (IEnumerable<SelectListItem>)ViewBag.Studentlist, "-Select Student-", new { @class = "form-control select2", @required = "true" })
                                  </div>
                            </div>
                       
                            <div class="col-md-5">
                                <label class="col-lg-4 control-label" style="text-align: left;">Assignment<span style="color: red;">*</span></label>
                                <div class="col-lg-8">
                                    @Html.DropDownListFor(model => model.assignmentID, (IEnumerable<SelectListItem>)ViewBag.assignmentlist, "-Select Assignment-", new { @class = "form-control select2", @required = "true" })

                                </div>
                            </div>                          
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-success " id="btnEdit">Get Report</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"></h4>
            </div>
            <div class="panel-body">


                @if (dt == null)
                {
                    <h4 class="panel-title alert alert-info fade in text-center" style="color: #F10404; margin-top: 10px; text-align: center;">No result found.</h4>
                }

                else
                {
                   
                    <div class="col-md-12">
                        <p>Hi &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight:bold;font-size:14px;">@ViewBag.FullName</span></p>
                        <br />
                        <p> How are you </p>
                        <p> Great to assess your submission</p>                          
                                <hr />
                      <p>TIME MANAGEMENT:- @ViewBag.assignmentname	</p>
                        <p>@ViewBag.assignmentname	By	@ViewBag.FullName</p>
                        <table id="" class="table table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Question No</th>
                                    <th>Question</th>
                                    <th>Marks</th>                                    
                                    <th>Out of</th> 
                            <tbody>
                                @foreach (DataRow row in dt.Rows)
                                {
                                    <tr>
                                        <td>@i</td>
                                        @if (!string.IsNullOrEmpty(row["Question"].ToString()))
                                        {
                                            <td>@row["Question"].ToString()</td>
                                        }
                                        else
                                        {
                                            <td>N/A</td>
                                        }
                                       
                                            @if (!string.IsNullOrEmpty(row["MaxMark"].ToString()))
                                            {
                                                <td>
                                                    @row["MaxMark"].ToString()
                                                </td>
                                            }
                                            else
                                            {
                                        <td> N / A
                                        </td >
                                            }
                                       
                                        @if (!string.IsNullOrEmpty(row["MarksObtain"].ToString()))
                                        {
                                            <td>
                                                @row["MarksObtain"].ToString()
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                N / A
                                            </td>
                                        }
                                    </tr>
                                   i++;
                                }
                            </tbody>

                        </table>





                        <p>Your Final Mark	:-		<b>@ViewBag.StudentMark	/	@ViewBag.TotalMark </b></p> 
                        <hr />
                        <p><b>@ViewBag.assignmentname</b></p> 
                        <p>Total Mark of Assessment:-	@ViewBag.TotalMark</p>
                        <p>Student's Mark:-	@ViewBag.StudentMark</p>
                        <p>Number of Days Late (maximum 7):-	@ViewBag.LateDays</p>
                        <p>Total Penalty %:-	@ViewBag.TotalPenalty%</p>
                        <p><b>RESULTS:-</b></p>
                        <p>Student's Mark with Penalty:-	@ViewBag.StudentMarksPenalty</p>
                        <p>Student's Mark as a Percentage:-	@ViewBag.StudentMarksPer%</p>
                        <p>Status:-	@ViewBag.Status</p>
                        <p>Regards</p>
                             <hr />
                        @ViewBag.User
                        </div>
                 } 
            </div>
        </div>
        <!-- End .panel -->
    </div>

</div>
</div>
