
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Inner Banner Content Start-->
<div class="tnit-inner-banner">
    <div class="container">
        <h2>About Me</h2>
        <!--BreadCrumb Listed Start-->
        <ul class="breadcrumb tnit-breadcrumb-holder">
            <li class="breadcrumb-item"><a href="@Url.Action("index","Home")">Home</a></li>
            <li class="breadcrumb-item active">About Me</li>
        </ul><!--BreadCrumb Listed End-->
    </div>
</div><!--Inner Banner Content End-->
<!--Main Content Start-->
<div class="tnit-main-content">
    <!--About Section Start-->
    <section class="tnit-about-section_v2">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <!--About Thumb Start-->
                    <figure class="tnit-about-thumb">
                        <img src="@Url.Content("~/images/about-man-img.png")" alt="" width="100%">
                    </figure><!--About Thumb End-->
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <!--About Text Start-->
                    <div class="tnit-about-text text-justify">
                        <h2>HI, I’M Eddie Pinero</h2>
                        <p>A 30 year old entrepreneur from Miami, Florida. I am driven by the ample opportunity life has to offer and believe that within each person exists the components to build an empire; to do something truly significant.</p>
                        <p>As a D1 athlete, the importance of a strong mindset has been instilled in me for years. I learned quickly that the right mentality is not only essential to success in your sport, but that the way you see the world around you dictates your level of achievement in every aspect of life. This is something that I have taken with me through higher education, my time in the corporate world, and now onto my entrepreneurial ventures. It is the foundation upon which I have been able to build my success.</p>
                    </div><!--About Text End-->

                    <div class="row tnit-social-row_v2">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <!--Socail Box Start-->
                            <div class="tnit-social-box">
                                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                <div class="tnit-text">
                                    <strong class="tnit-social-counter">1,43,000</strong>
                                    <span>Subscribers</span>
                                </div>
                            </div><!--Socail Box End-->
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <!--Socail Box Start-->
                            <div class="tnit-social-box">
                                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <div class="tnit-text">
                                    <strong class="tnit-social-counter">17,000</strong>
                                    <span>Fans</span>
                                </div>
                            </div><!--Socail Box End-->
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <!--Socail Box Start-->
                            <div class="tnit-social-box">
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <div class="tnit-text">
                                    <strong class="tnit-social-counter">1,22,000</strong>
                                    <span>Followers</span>
                                </div>
                            </div><!--Socail Box End-->
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <!--Socail Box Start-->
                            <div class="tnit-social-box">
                                <a href="#"><i class="fa fa-spotify" aria-hidden="true"></i></a>
                                <div class="tnit-text">
                                    <strong class="tnit-social-counter">31,000</strong>
                                    <span>Monthly Listeners</span>
                                </div>
                            </div><!--Socail Box End-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <!--About Text Start-->
                    <div class="tnit-about-text text-justify">
                        <h2>About Your World Within</h2>
                        <p>I am blessed to be able to do what I do every day. There is no question about that. The opportunity to share my thoughts and perspective with people living all over the globe is beyond fulfilling. From the speeches and articles I write, to the weekly videos I create, to the wonderful people I am fortunate enough to coach, every word spoken is an opportunity to paint the world in a new light; to help others see things in ways they previously had not. There is always another level to reach, and I find great joy in helping others achieve it.</p>
                        <p>The intent of Your World Within is to create a platform that empowers you to look deeper within yourself and rise to the level of excellence that exists within you. Through it, I seek to provide the tools that enable you to conquer the biggest obstacle you will ever face during your time here on earth; yourself. Once you have accomplished this, the sky is the limit.</p>

                    </div><!--About Text End-->
                </div>

                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="tnit-about-text">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/4mjRM7sbhFk?wmode=transparent" frameborder="0" allowfullscreen="" wmode="Opaque"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section><!--About Section End-->
    <!--Facts Section Start-->
    <section class="tnit-facts-section tnit-features-section pd-tb70">
        <div class="container">
            <div class="tnit-heading-outer">
                <h2>Inspiration on the Go</h2>
            </div><!--Heading Outer End-->
            <!--Facts Inner Outer Start-->
            <div class="facts-inner-outer">
                <ul class="tnit-facts-listed">
                    <li class="facts-item">
                        <i class="fa fa-spotify" aria-hidden="true"></i>
                        <div class="tnit-text">
                            <a href=""><strong class="tnit-counter">Spotify</strong></a>
                        </div>
                    </li>
                    <li class="facts-item">
                        <i class="fa fa-apple" aria-hidden="true"></i>
                        <div class="tnit-text">
                            <a href=""><strong class="tnit-counter">ITunes</strong></a>
                        </div>
                    </li>
                    <li class="facts-item">
                        <i class="fa fa-amazon" aria-hidden="true"></i>
                        <div class="tnit-text">
                            <a href=""><strong class="tnit-counter">Amazon Music</strong></a>
                        </div>
                    </li>
                </ul>
            </div><!--Facts Inner Outer End-->
        </div>
        <h4 class="text-center pt40">Listen to tracks from Your World Within any time, anywhere on any major music distribution platform</h4>
    </section>
    <!--Facts Section End-

    <!--Certification Section Start-->
    <section class="tnit-certificate-section pd-t70">
        <div class="container">
            <!--Heading Outer start-->
            <div class="tnit-heading-outer">
                <h2>My Certifications</h2>
            </div><!--Heading Outer End-->
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <!--Certificate Item Start-->
                    <div class="certificate-item">
                        <img src="images/certificate-img-01.jpg" alt="">
                    </div><!--Certificate Item End-->
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <!--Certificate Item Start-->
                    <div class="certificate-item">
                        <img src="@Url.Content("~/images/certificate-img-02.jpg")" alt="">
                    </div><!--Certificate Item End-->
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <!--Certificate Item Start-->
                    <div class="certificate-item">
                        <img src="@Url.Content("~/images/certificate-img-03.jpg")" alt="">
                    </div><!--Certificate Item End-->
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <!--Certificate Item Start-->
                    <div class="certificate-item">
                        <img src="@Url.Content("~/images/certificate-img-04.jpg")" alt="">
                    </div><!--Certificate Item End-->
                </div>
            </div>
        </div>
    </section><!--Certification Section End-->

</div><!--Main Content End-->
