@model costoracle2.Models.ForgetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="log">
        <div class="container login-container">

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 login-form-1 logs">
                    <h4 class="text-center">Reset Password</h4>
                    <p class="text-center">Don't have an account? Create your account. It's take less then a minutes</p>
                    <!--img src="img/logo/logo.png" alt="" class="imgs" style="display:none;"><br><br-->
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        if (TempData.Count > 0)
                        {
                            if (!string.IsNullOrEmpty((string)TempData["changepasswordSUCCESS"]))
                                {
                                 <div class="alert alert-success fade in">
                                     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                     <i class="fa fa-check alert-icon"></i>
                                     <strong>Success!</strong> @TempData["changepasswordSUCCESS"]
                                 </div>
                                }
                    else if (!string.IsNullOrEmpty(TempData["changepassworderror"].ToString()))
                    {
                        <div class="alert alert-danger fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="glyphicon glyphicon-ban-circle alert-icon"></i>
                            @TempData["changepassworderror"]
                        </div>
                        }
                    }

                    <div class="form-group bot">
                        @Html.TextBoxFor(model => model.Password, new
                   {
                       @placeholder = " Password *",
                       @class = "form-control",
                       @required = "true",
                       @type = "password"

                   })
                        @*<input type="text" class="form-control" placeholder="Username *" value="" />*@
                    </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.ConfirmPassword, new
                       {
                           @placeholder = " ConfirmPassword *",
                           @class = "form-control",
                           @required = "true",
                           @type = "password"

                       })
                            @Html.HiddenFor(model => model.RegistrationId, new { @Value = Model.RegistrationId })
                            @*<input type="text" class="form-control" placeholder="Password*" value="" />*@
                        </div>
                       
                        <div class="or-box row-block">
                            <div class="row">
                                <div class="col-md-12 row-block">
                                    <button type="submit" class="btn btn-primary btn-block blo">Sign In</button>
                                </div>
                            </div>
                        </div>

                        <div class="or-box row-block">
                            <div class="row">
                                <div class="col-md-12 row-block">
                                    <a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-block blo">Create New Account</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</section>

