
@{
    ViewBag.Title = "ResasServProvider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="roots">
    <div class="service-area severce_we_provide pt-50 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="area-title text-center mb-55">
                        <h3 class="us">What service do you provide?</h3>
                    </div>
                </div>
            </div>
            <div class="row bs">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="service-list mb-60 text-center" style="border: 1px solid #276ef1;padding: 20px;border-radius: 15px">
                        <a href="@Url.Action("ResasServProvider","Account", new { @id = "Insurance" })">
                            <div class="service-icon">
                                <i class="fa fa-car" aria-hidden="true"></i>
                            </div>
                            <div class="service-text">
                                <h3>Insurance</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="service-list mb-60 text-center" style="border: 1px solid #276ef1;padding: 20px;border-radius: 15px">
                        <a href="@Url.Action("ResasServProvider","Account", new { @id = "Item Delivery" })">
                            <div class="service-icon">
                                <i class="fa fa-truck" aria-hidden="true"></i>
                            </div>
                            <div class="service-text">
                                <h3>Item Delivery</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="service-list mb-60 text-center" style="border: 1px solid #276ef1;padding: 20px;border-radius: 15px">
                        <a href="@Url.Action("ResasServProvider","Account", new { @id = "Trade Professionals" })">
                            <div class="service-icon">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                            </div>
                            <div class="service-text">
                                <h3>Trade Professionals</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="service-list mb-60 text-center" style="border: 1px solid #276ef1;padding: 20px;border-radius: 15px">
                        <a href="@Url.Action("ResasServProvider","Account", new { @id = "Commodities and Currency" })">
                            <div class="service-icon">
                                <i class="fa fa-eur" aria-hidden="true"></i>
                            </div>
                            <div class="service-text">
                                <h3>Commodities and Currency</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="offset-xl-2 col-xl-8">
                    <div class="emoji">
                        <p>Still not sure<img src="img/emojii.PNG" alt="">speak to one of our friendly assistants on  <img src="img/teli.png" alt="" class="size">800231xxxx</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="over">
        <div class="container overview">
            <div class="row">
                <div class="col-md-3">
                    <div class="tbs">
                        <img src="@Url.Content("~/img/c3.jpg")" alt="img" class="imagr">
                        <div class="overlay overlayBottom">
                            <div class="text1">I am Designer</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="tbs">
                        <img src="@Url.Content("~/img/c3.jpg")" alt="img" class="imagr">
                        <div class="overlay overlayBottom">
                            <div class="text1">I am Designer</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="tbs">
                        <img src="@Url.Content("~/img/c3.jpg")" alt="img" class="imagr">
                        <div class="overlay overlayBottom">
                            <div class="text1">I am Designer</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="tbs">
                        <img src="@Url.Content("~/img/c3.jpg")" alt="img" class="imagr">
                        <div class="overlay overlayBottom">
                            <div class="text1">I am Designer</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row fd">
                <div class="col-md-3">
                    <div class="tbs">
                        <img src="@Url.Content("~/img/c3.jpg")" alt="img" class="imagr">
                        <div class="overlay overlayBottom">
                            <div class="text1">I am Designer</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="tbs">
                        <img src="@Url.Content("~/img/c3.jpg")" alt="img" class="imagr">
                        <div class="overlay overlayBottom">
                            <div class="text1">I am Designer</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="tbs">
                        <img src="@Url.Content("~/img/c3.jpg")" alt="img" class="imagr">
                        <div class="overlay overlayBottom">
                            <div class="text1">I am Designer</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="tbs">
                        <div class="box">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <h5>What's your skill ?</h5>
                            <a href="#" class="btn kbs">Become a seller</a>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>


</div>


