@model costoracle2.Models.Itemdelivery
@{

    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData["Review"] = "active";
    HttpCookie insuranceRequestCookies = Request.Cookies["insuranceRequestCookies"];
   
}

    @Html.Partial("_IteamDelevery")

    <div class="container">
        <div class="row ty">
            <div class="col-md-12">
                @if (TempData.Count > 0)
                {
                    if (!string.IsNullOrEmpty((string)TempData["msg"]))
                    {
                <div class="alert alert-success fade in">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <i class="fa fa-check alert-icon"></i>
                    <strong>Success!</strong> @TempData["msg"]
                </div>
                    }
                }
                <div class="col-md-2">
                    <span class="hd">
                        Review
                    </span>
                </div>
                <div class="col-md-10">
                    <p class="text-center" style="border:2px solid red;border-radius:10px;padding:10px;">Please ensure you have answered the questions honestly, take this opportunity to review any mistakes and correct it if needed, by using the back button at the bottom of the page</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row ty">
            <div class="col-md-12">
                <span class="hd">
                    Item Delivery Details
                </span>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("ItemReview", "Services", FormMethod.Post))
    {
        <div class="container">
            <div class="row ty">
                <div class="col-md-8">
                    <div class="tps">
                        @Html.HiddenFor(model => model.Id, new { @class = "form-control col-md-2 k1s", @placeholder = "Enter Id" })
                        <div class="form-group">
                            <label for="validationCustom03" class="col-md-6 lb food">Item Type:</label>
                            <div class="col-md-6">

                                @Html.DisplayFor(model => model.itemtype)
                                @Html.HiddenFor(model => model.itemtypeid)

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="vehicle2" class="desc">
            <div class="container">
                <div class="row ty">
                    <div class="col-md-8">
                        <div class="tps">

                            <div class="form-group">
                                <label for="email_address" class="col-md-6 col-form-label food">Sender Name:</label>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.username, new { @class = "form-control frms upr", @name = "sendername", @readonly = "readonly" })

                                </div>
                            </div>

                        </div>

                        <div class="clearfix too ty"></div>


                    </div>
                </div>
            </div>
        </div>

        <div id="vehicle2" class="desc">
            <div class="container">
                <div class="row ty">
                    <div class="col-md-8">
                        <div class="tps">
                            <div class="form-group">
                                <label for="email_address" class="col-md-6 col-form-label food">Sender Address: </label>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Addresspick)

                                </div>
                            </div>
                        </div>
                        <div class="clearfix too ty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="vehicle2" class="desc" style="display:none;">
            <div class="container">
                <div class="row ty">
                    <div class="col-md-8">
                        <div class="tps">
                            <div class="form-group">
                                <label for="email_address" class="col-md-6 col-form-label food">Sender Latitude: </label>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Latitudepick)


                                </div>
                            </div>
                        </div>
                        <div class="clearfix too ty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="vehicle2" class="desc" style="display:none;">
            <div class="container">
                <div class="row ty">
                    <div class="col-md-8">
                        <div class="tps">
                            <div class="form-group">
                                <label for="email_address" class="col-md-6 col-form-label food">Sender Longitude: </label>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Longitudepick)

                                </div>
                            </div>
                        </div>
                        <div class="clearfix too ty"></div>
                    </div>
                </div>
            </div>
        </div>


        <div id="vehicle2" class="desc">
            <div class="container">
                <div class="row ty">
                    <div class="col-md-8">
                        <div class="tps">
                            <div class="form-group">
                                <label for="email_address" class="col-md-6 col-form-label food">Sender City: </label>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Citypick)

                                </div>
                            </div>
                        </div>
                        <div class="clearfix too ty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="vehicle2" class="desc">
            <div class="container">
                <div class="row ty">
                    <div class="col-md-8">
                        <div class="tps">
                            <div class="form-group">
                                <label for="email_address" class="col-md-6 col-form-label food">Sender Country: </label>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Countrypick)

                                </div>
                            </div>
                        </div>
                        <div class="clearfix too ty"></div>
                    </div>
                </div>
            </div>
        </div>


        <div id="vehicle2" class="desc">
            <div class="container">
                <div class="row ty">
                    <div class="col-md-8">
                        <div class="tps">

                            <div class="form-group">
                                <label for="email_address" class="col-md-6 col-form-label food">Receiver Name:</label>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Name, new { @class = "form-control frms upr", @name = "sendername", @readonly = "readonly" })

                                </div>
                            </div>

                        </div>

                        <div class="clearfix too ty"></div>


                    </div>
                </div>
            </div>
        </div>

        <div id="vehicle2" class="desc">
            <div class="container">
                <div class="row ty">
                    <div class="col-md-8">
                        <div class="tps">
                            <div class="form-group">
                                <label for="email_address" class="col-md-6 col-form-label food">Receiver Address: </label>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Address)

                                </div>
                            </div>
                        </div>
                        <div class="clearfix too ty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="vehicle2" class="desc" style="display:none;">
            <div class="container">
                <div class="row ty">
                    <div class="col-md-8">
                        <div class="tps">
                            <div class="form-group">
                                <label for="email_address" class="col-md-6 col-form-label food">Receiver Latitude: </label>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Latitude)


                                </div>
                            </div>
                        </div>
                        <div class="clearfix too ty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="vehicle2" class="desc" style="display:none;">
            <div class="container">
                <div class="row ty">
                    <div class="col-md-8">
                        <div class="tps">
                            <div class="form-group">
                                <label for="email_address" class="col-md-6 col-form-label food">Receiver Longitude: </label>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Longitude)

                                </div>
                            </div>
                        </div>
                        <div class="clearfix too ty"></div>
                    </div>
                </div>
            </div>
        </div>



        <div id="vehicle2" class="desc">
            <div class="container">
                <div class="row ty">
                    <div class="col-md-8">
                        <div class="tps">
                            <div class="form-group">
                                <label for="email_address" class="col-md-6 col-form-label food">Receiver City: </label>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.City)

                                </div>
                            </div>
                        </div>
                        <div class="clearfix too ty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="vehicle2" class="desc">
            <div class="container">
                <div class="row ty">
                    <div class="col-md-8">
                        <div class="tps">
                            <div class="form-group">
                                <label for="email_address" class="col-md-6 col-form-label food">Receiver Country: </label>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Country)

                                </div>
                            </div>
                        </div>
                        <div class="clearfix too ty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="vehicle2" class="desc">
            <div class="container">
                <div class="row ty">
                    <div class="col-md-8">
                        <div class="tps">
                            <div class="form-group">
                                <label for="email_address" class="col-md-6 col-form-label food">No. of Items: </label>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.noofitem)

                                </div>
                            </div>
                        </div>
                        <div class="clearfix too ty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="vehicle2" class="desc">
            <div class="container">
                <div class="row ty">
                    <div class="col-md-8">
                        <div class="tps">
                            <div class="form-group">
                                <label for="email_address" class="col-md-6 col-form-label food">Item Width: </label>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.width)


                                </div>
                            </div>
                        </div>
                        <div class="clearfix too ty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="vehicle2" class="desc">
            <div class="container">
                <div class="row ty">
                    <div class="col-md-8">
                        <div class="tps">
                            <div class="form-group">
                                <label for="email_address" class="col-md-6 col-form-label food">Item Height: </label>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.height)

                                </div>
                            </div>
                        </div>
                        <div class="clearfix too ty"></div>
                    </div>
                </div>
            </div>
        </div>



        <div id="vehicle2" class="desc">
            <div class="container">
                <div class="row ty">
                    <div class="col-md-8">
                        <div class="tps">
                            <div class="form-group">
                                <label for="email_address" class="col-md-6 col-form-label food">Item Length: </label>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.length)

                                </div>
                            </div>
                        </div>
                        <div class="clearfix too ty"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="vehicle2" class="desc">
            <div class="container">
                <div class="row ty">
                    <div class="col-md-8">
                        <div class="tps">
                            <div class="form-group">
                                <label for="email_address" class="col-md-6 col-form-label food">Item Weight: </label>
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.weight)

                                </div>
                            </div>
                        </div>
                        <div class="clearfix too ty"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="clearfix too ty"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="tps">
                        <a href="@Url.Action("iteminfo","Services")" onclick="backbtn();" class="btn btn-primary boots">Back</a>
                        <button type="submit" class="btn btn-primary boot">
                            Go To Result
                        </button>
                    </div>
                    <div class="clearfix too ty"></div>
                </div>
            </div>
        </div>
    }



