
@{
    ViewBag.Title = "ResultsForTarde";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="request">
    <div class="container">
        <div class="row">
            <div class="request-title">
                <div class="col-md-6">
                    <h3 class="lt">Request Tittle</h3>
                </div>
                <div class="col-md-6">
                    <h3 class="ri">Request ID : </h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rd-body">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="filter">
                    <p>Filter Option <img src="img/filter.png" alt="" class="haa"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="rd-id">
                <div class="col-md-1">
                    <img src="img/umbrella.png" alt="" class="igs1">
                </div>

                <div class="col-md-4">
                    <h4 class="abx">ABX Insurance LTD</h4>
                    <span class="loca">
                        <i class="fa fa-map-marker" aria-hidden="true"></i> West Drayton-12 miles from you
                    </span>
                </div>

                <div class="col-md-4">
                    <div class="review-header">
                        <div class="rating-basic">
                            <div class="star-rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span>5.0</span>
                            </div>
                            <p class="rat"><strong>47</strong> jobs completed</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 rats">
                    <img src="@Url.Content("~/img/nn copy.png")" class="ii"><span> 1,500</span>
                    <ul>
                        <li><img src="@Url.Content("~/img/call.png")" class="iis"><a href="#">Call Provider</a></li>
                        <li><img src="@Url.Content("~/img/sign.PNG")" class="iiss"><a href="#">About Provider</a></li>
                    </ul>
                    <a href="#" class="btn yk"> New Message<a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="rd-body">
    <div class="container">
        <div class="row">
            <div class="rd-id">
                <div class="col-md-1">
                    <img src="img/logo.png" alt="" class="igs1">
                </div>

                <div class="col-md-4">
                    <h4 class="abx">ABX Insurance LTD</h4>
                    <span class="loca">
                        <i class="fa fa-map-marker" aria-hidden="true"></i> West Drayton-12 miles from you
                    </span>
                </div>

                <div class="col-md-4">
                    <div class="review-header">
                        <div class="rating-basic">
                            <div class="star-rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span>4.8</span>
                            </div>
                            <p class="rat"><strong>544</strong> jobs completed</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 rats">
                    <img src="@Url.Content("~/img/nn copy.png")" class="ii"><span> 3,500</span>
                    <ul>
                        <li><img src="@Url.Content("~/img/call.png")" class="iis"><a href="#">Call Provider</a></li>
                        <li><img src="@Url.Content("~/img/sign.PNG")" class="iiss"><a href="#">About Provider</a></li>
                    </ul>
                    <a href="#" class="btn yks"> Send Message<a>
                </div>

            </div>
        </div>
    </div>
</div>




