
@{
    ViewBag.Title = "Donors";
    Layout = "~/Views/Shared/_OrganisationLayout.cshtml";
}

<div class="wrapper">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">SurSeed</a></li>
                            <li class="breadcrumb-item active">Donors</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Welcome John !</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="header-title text-center mb-3">Total Donors</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="collection text-center">
                                    <h1><span>6</span><span>3</span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="header-title text-center mb-3">Donors List</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card widget-user">
                                    <div class="card-body">
                                        <img src="@Url.Content("~/assets/images/users/avatar-3.jpg")" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                                        <div class="wid-u-info">
                                            <a href="donor-information.html"><h5 class="mt-3 mb-1">Benito</h5></a>
                                            <p class="text-muted mb-0">$2500</p>
                                            <div class="user-position">
                                                <span class="text-info">Envelope</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card widget-user">
                                    <div class="card-body">
                                        <img src="@Url.Content("~/assets/images/users/avatar-2.jpg")" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                                        <div class="wid-u-info">
                                            <a href=""><h5 class="mt-3 mb-1">Richard</h5></a>
                                            <p class="text-muted mb-0">$2500</p>
                                            <div class="user-position">
                                                <span class="text-info">Envelope</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card widget-user">
                                    <div class="card-body">
                                        <img src="@Url.Content("~/assets/images/users/avatar-3.jpg")" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                                        <div class="wid-u-info">
                                            <a href=""><h5 class="mt-3 mb-1">Benito</h5></a>
                                            <p class="text-muted mb-0">$2500</p>
                                            <div class="user-position">
                                                <span class="text-info">Envelope</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card widget-user">
                                    <div class="card-body">
                                        <img src="@Url.Content("~/assets/images/users/avatar-2.jpg")" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                                        <div class="wid-u-info">
                                            <a href=""><h5 class="mt-3 mb-1">Richard</h5></a>
                                            <p class="text-muted mb-0">$2500</p>
                                            <div class="user-position">
                                                <span class="text-info">Envelope</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card widget-user">
                                    <div class="card-body">
                                        <img src="@Url.Content("~/assets/images/users/avatar-3.jpg")" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                                        <div class="wid-u-info">
                                            <a href=""><h5 class="mt-3 mb-1">Benito</h5></a>
                                            <p class="text-muted mb-0">$2500</p>
                                            <div class="user-position">
                                                <span class="text-info">Envelope</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card widget-user">
                                    <div class="card-body">
                                        <img src="@Url.Content("~/assets/images/users/avatar-2.jpg")" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                                        <div class="wid-u-info">
                                            <a href=""><h5 class="mt-3 mb-1">Richard</h5></a>
                                            <p class="text-muted mb-0">$2500</p>
                                            <div class="user-position">
                                                <span class="text-info">Envelope</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card widget-user">
                                    <div class="card-body">
                                        <img src="@Url.Content("~/assets/images/users/avatar-3.jpg")" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                                        <div class="wid-u-info">
                                            <a href=""><h5 class="mt-3 mb-1">Benito</h5></a>
                                            <p class="text-muted mb-0">$2500</p>
                                            <div class="user-position">
                                                <span class="text-info">Envelope</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card widget-user">
                                    <div class="card-body">
                                        <img src="@Url.Content("~/assets/images/users/avatar-2.jpg")" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                                        <div class="wid-u-info">
                                            <a href=""><h5 class="mt-3 mb-1">Richard</h5></a>
                                            <p class="text-muted mb-0">$2500</p>
                                            <div class="user-position">
                                                <span class="text-info">Envelope</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card widget-user">
                                    <div class="card-body">
                                        <img src="@Url.Content("~/assets/images/users/avatar-3.jpg")" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                                        <div class="wid-u-info">
                                            <a href=""><h5 class="mt-3 mb-1">Benito</h5></a>
                                            <p class="text-muted mb-0">$2500</p>
                                            <div class="user-position">
                                                <span class="text-info">Envelope</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card widget-user">
                                    <div class="card-body">
                                        <img src="@Url.Content("~/assets/images/users/avatar-2.jpg")" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                                        <div class="wid-u-info">
                                            <a href=""><h5 class="mt-3 mb-1">Richard</h5></a>
                                            <p class="text-muted mb-0">$2500</p>
                                            <div class="user-position">
                                                <span class="text-info">Envelope</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card widget-user">
                                    <div class="card-body">
                                        <img src="@Url.Content("~/assets/images/users/avatar-3.jpg")" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                                        <div class="wid-u-info">
                                            <a href=""><h5 class="mt-3 mb-1">Benito</h5></a>
                                            <p class="text-muted mb-0">$2500</p>
                                            <div class="user-position">
                                                <span class="text-info">Envelope</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card widget-user">
                                    <div class="card-body">
                                        <img src="@Url.Content("~/assets/images/users/avatar-2.jpg")" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                                        <div class="wid-u-info">
                                            <a href=""><h5 class="mt-3 mb-1">Richard</h5></a>
                                            <p class="text-muted mb-0">$2500</p>
                                            <div class="user-position">
                                                <span class="text-info">Envelope</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- end container-fluid -->
</div>
<!-- end wrapper -->
<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->


